@charset "utf-8";

body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background: #000000;
	color: #aaaaaa;
	overflow: hidden;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #d4d4d4;
}
a:hover { color: #d4d4d4; }

#loading {
	display: inline;
	font-size: 20px;
	line-height: 24px;
	background-color: #000000;
}

#container {
	background-color: #000000;
	background-image: url('img/ledbg.png');
	overflow: hidden;
	box-sizing: border-box;
}

#blinder, #blinker {
	background-image: url('img/ledbg.png');
	box-sizing: border-box;
	position: relative;
	opacity: 0;
}

#blinder { z-index: 10; }
#blinker {  z-index: 6; }

img, canvas {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#mover {
	position: relative;
	left: 0;
	top: 0;
}

#container canvas, #anisym, #aniblink {
	position: relative;
	display: block;
	left: 0;
	top: 0;
}

#blinkchar  {  z-index: 4; }
#ticker     {  z-index: 8; }
#anisym     {
	z-index: 8;
	overflow: hidden;
}
#aniblink   {
	z-index: 4;
	overflow: hidden;
}

#before_desc {
	height: 0;
	border: none;
}

/* Blink Animation */
@keyframes blinking {
	  0%  { opacity: 0; }
	 47%  { opacity: 0; }
	 50%  { opacity: 1; }
	 97%  { opacity: 1; }
	100%  { opacity: 0; }
}

@keyframes anisymbol {
	  0%  { background-position:   0px   0px; }
	 25%  { background-position: -72px   0px; }
	 50%  { background-position:   0px -72px; }
	 75%  { background-position: -72px -72px; }
	100%  { background-position:   0px   0px; }
}

.ani {
	display: block;
	position: relative;
	float: left;
	width: 72px;
	height: 72px;
	margin-bottom: -72px;
	margin-right: -72px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	-webkit-animation-name: anisymbol;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: steps(1);
	        animation-name: anisymbol;
	        animation-duration: 1s;
	        animation-iteration-count: infinite;
	        animation-timing-function: steps(1);
}

.blinking #blinker {
	-webkit-animation-name: blinking;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	        animation-name: blinking;
	        animation-duration: 2s;
	        animation-iteration-count: infinite;
}